html,
body,
#wrapper {
	height: 100%;
}
body {
	background: #fff;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	position: relative;
	overflow: hidden;
}

/*ヘッダー（ここまで）
***********************************************************/

/*サイドメニュー
***********************************************************/

#side{}

/*サイドメニュー（ここまで）
***********************************************************/

/*フッター
***********************************************************/

#footer{
	color:#FFF;
	text-align:center;
}
/*フッター（ここまで）
***********************************************************/

